#externalcss{
    color: rgb(158, 7, 228);
    text-align: center;
}

div{
    text-align: center;
    background-color: rgb(131, 244, 109);
    padding: 20px;
}
div a{
    text-decoration: none ;
    font-weight: bold;
    color: rgb(13, 42, 140);
}
#spacing {
    padding: 10px;
}
#search{
    float: right;
    width: 200px;
    height: 25px;
    border-radius: 2px;
}
#buttonsearch{
    float: right;
    height: 25px;
    background-color: beige;
    color: bisque;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
}

.image img{
    height: 250px;
    width: 250px;
}